.divall{
	padding:20px;
	border:1px solid #999;
	background-color: white;
}
#center{
	width:100%;
	/*height:100px;*/
	float:left;
}
#div1{
	background-color: #eee;
	margin:20px;
	
}
#div1:before,#div1:after{
	content: "";
	display:table;

}
#div1:after{
	clear:both;
}
#div1{
	*zoom:1;
}
span{
	float:right;
	padding-right:60px;
}
#div2-left{
	float:left;
	width:200px;
	margin-left:-100%;
}
#div2-center{
	/*margin-left: 262px;
	margin-right: 142px;*/
	margin-left:262px;
	margin-right:142px;
	height:100%;
}
#div2-right{
	float:left;
	width:120px;
	text-align: center;
	padding:0px;
	margin-left: -122px;
	/*clear:left;*/
}
#div2-right div{
	margin:20px auto;
}
/*#div2-4{
	clear:both;
}*/
img{
	width:80px;
	height:80px;
	/*margin-top:20px;*/
}